{% extends 'todo/index.html' %}


{% block category%}
    {% for category in category_list %}
        <p style="padding-top:5px;padding-bottom:5px;margin-left:15px;"><a style="text-decoration: none;" href="{% url 'todo:category_detail' category.id %}">{{ category.category_name }} {{ category.task_set.count }}</a></p>
    {% endfor %}
    <form action="{% url 'todo:create_category' %}" method="post">
        {% csrf_token %}
        <input type="text" name="category">
        <input type="submit" class="btn btn-primary" value="Create">
    </form>


{% endblock %}